doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css')

  body
    #header.bg-black.white-80
      .center.mw7.w-90.pv3.relative
        h1.mv0.w-70 Assetlog

    #container.pa3.bg-white
      .center.mw7.w-90.pv3
        block content

    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(type='text/javascript' src='https://cdn-creativesdk.adobe.io/v1/csdk.js')
    block scripts
