doctype html
html
  head
  body
    script(type='text/javascript')
      | window.clientID = '#{clientId}'
      | window.scope = ''
    script(type='text/javascript' src='https://cdn-creativesdk.adobe.io/v1/csdk_auth.js')
